* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

caption {
	text-align: left;
	font-weight: bold;
}

.brand {
	font-weight: bold;
	margin-right: 1em;
}

.brand a {
	color: #fff;
}

@media (prefers-color-scheme: light) {
	.brand a {
		color: #000;
	}
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.pt-0 {
	padding-top: 0 !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.search {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.search label {
	flex: 3 0 250px;
	margin-bottom: 0;
}

.search span {
	display: inline-block;
	margin-bottom: 0.5em;
}

.search input {
	margin-bottom: 0 !important;
}

.search button {
	flex: 1 0 250px;
	margin-bottom: 0;
}

.is-geral-results tbody tr:nth-last-child(1) td,
.is-geral-results tbody tr:nth-last-child(2) td,
.is-in-relegation-zone td {
	color: #f00;
}

.match {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1.5em 3em;
	margin: 0;
	margin-block: 1.5em;
}

.match .team {
	font-size: 1.125em;
}

.match .versus {
	font-weight: bold;
	text-align: center;
}

.match .team:nth-child(3) {
	text-align: right;
}